// @media (min-width: 768px) and (max-width: 1024px) {
@media (min-width: 1024px){

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .logo-main-menu {
            margin: auto;
        }
        .menu-icon {
            display: none;
        }
        .nav-menu {
            .menu-responsive, .menu-responsive.responsive {
                display: flex;
            }
            .menu-responsive li {
                padding: 12px;
                a{ color: white;
                    font-size: 0.8rem;
                    padding: 4px 7px;
                }
            }
            .active {
                border: 2px solid white;
            }
        }
    }
}
