@media (min-width: 1025px) and (max-width: 2560px) {
  .scroll-top-button {
    right: 46px; }
  .menu-icon {
    display: none; }
  .big-title {
    display: inline-block; }
  .header-menu {
    display: flex;
    justify-content: space-between; }
  .nav-menu {
    align-items: center; }
    .nav-menu .menu-responsive, .nav-menu .menu-responsive.responsive {
      display: flex; }
    .nav-menu .menu-responsive li {
      padding: 12px; }
      .nav-menu .menu-responsive li a {
        color: white;
        font-size: 0.875rem;
        padding: 4px 7px; }
      .nav-menu .menu-responsive li :hover {
        color: #08a6bc; }
    .nav-menu .active {
      border: 2px solid white; }
  .desc {
    font-size: 0.875rem; }
  .footer-content {
    font-size: 00.875rem; }
    .footer-content .title-flex {
      padding: 29px 0 45px; }
    .footer-content .padding-top {
      padding-top: 105px; }
    .footer-content .widgets {
      display: flex;
      justify-content: space-between; }
      .footer-content .widgets .col-3 {
        max-width: 263px; }
      .footer-content .widgets .top {
        padding-top: 84px; }
      .footer-content .widgets .post-item {
        display: flex;
        font-size: 00.875rem; }
        .footer-content .widgets .post-item .avt {
          height: 50px;
          width: 50px; }
      .footer-content .widgets .container-project .project {
        width: 60px;
        height: 60px;
        margin: 5px; }
      .footer-content .widgets .group-position {
        margin-left: 57px; }
      .footer-content .widgets .widget-flickr-feed .row-feed-item .item {
        height: 60px;
        width: 60px;
        margin: 5px; }
    .footer-content .footer-menu-social .container {
      display: flex;
      justify-content: space-between;
      flex-direction: row; } }
